<html lang="pt-br">
	<head>
		<title>Noticia 1</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/estilos.css">
	</head>
	<body>
		<h1>Noticia 1</h1>
		<h3>Nada além da verdade.</h3>
		<hr>
		<h2 class="titulo">Um vulcão com cerca de 450 mil km de extensão pode ter sido descoberto em Marte</h2>
		
			<img class="image" src="../images/Olympus_Mons_alt.jpg">
			
		<p class="paragrafo"> Não é todo dia que se descobre um novo vulcão gigantesco em outro planeta, mas é exatamente isso que dois pesquisadores afirmam ter feito. Com mais de 9 mil metros de altura (um pouco mais alto que o Monte Everest, no Himalaia) e talvez 450 km de comprimento em sua base (mais longo que a distância entre as cidades norte-americanas de Washington D.C. a Nova York), ele é um verdadeiro colosso. 

		Como todos os vulcões de Marte, não há sinais de que esteja ativo no momento. E ele pode ser extremamente antigo – uma testemunha vulcânica da maior parte da história de vários bilhões de anos do Planeta Vermelho.</p>
		

		<hr>
		<p id="dev" class="dev-texto">Desenvolvido por: Camila Garaveli</p>
	</body>
</html>